* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: rgb(42, 55, 94);
}

.header-box {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;

}
.div-box {
  width: 65%;
  margin: 0px auto;
}
ul {
  list-style: none;
}
/* navbar A */
.nav-a {
  width: 100%;
  background-color: white;
  height: 70px;
  line-height: 40px;
}
.nav-a::after {
  content: '';
  display: table;
  clear: both;
}
.list-sx, .list-dx {
  display: inline;
}
/* navbar A sx */
.navbar-sx {
  width: 30%;
  float: left;
  padding: 15px;
  position: relative;
  text-align: left;
}
.en {
  margin-right: 20px;
  border-right: 1px solid black;
  padding-right: 25px;
}
.fas {
  float: left;
  position: absolute;
  margin-left: 40px;
  margin-top: 5px;
}
/* navbar B dx */
.navbar-dx {
  width: 70%;
  float: right;
  padding: 15px;
  text-align: right;
  position: relative;
}
.list-dx {
  margin-left: 20px;
  padding-left: 20px;
}
.fa-angle-down {
  float: right;
  position: absolute;
  padding-left: 20px;
  line-height: 30px;
}
.get {
  background-color: orange;
  color: white;
  padding: 10px;
  width: 30px;
  border-radius: 6px;
  margin-left: 25px;
}
.get:hover {
  background-color: rgba(245, 172, 32, 0.6) ;
}
.log {
  border: 2px solid orange;
  padding:7px;
  border-radius: 6px;
  color: orange;
}
.log:hover {
  background-color: rgb(246, 227, 204);
}
/* navbar B */
.nav-b {
  width: 100%;
  background-color: white;
  height: 70px;
  line-height: 35px;
}
/* testi header */
.test {
  margin-top: 50px;
}
.test-header-h1 {
  width: 50%;
  font-size: 50px;
}
.testheader {
  margin-top: 20px;
}
.line-h5{
  width: 45%;
}
.line-h3 {
  background-color: orange;
  width: 13%;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 8px;
}
.line-h3:hover {
  background-color: rgba(245, 172, 32, 0.6);
}
.headerfoot {
  background-color: rgba(64, 222, 201, 0.67);
  height: 50px;
  border: 2px solid black;
  /* width: 100%; */
}
.cubo {
  text-align: center;
}
.div-cubo {
  text-align: center;
  margin-top: 20px;
}
.div-cubo h2, p {
  margin-bottom: 20px;
}
.main-box {
  height: 1000px;
  background-color: #fff;
}
/* box 1 */
.main-box1 {
  float: left;
  height: 200px;
  width: 200px;
}
.main-crm {
 margin-top: 30px;
 margin-left: 20px;
}
.learn-buttom {
  margin-top: 30px;
  margin-left: 40px;
  background-color: orange;
  width: 120px;
  height: 40px;
  border-radius: 6px;
}
.learn-buttom:hover {
  background-color: rgba(245, 172, 32, 0.6);
}
.learn-buttom h4{
  font-size: 18px;
  text-align: center;
  padding: 7%;
}
/* box 2  */
.main-box2 {
  float: right;
  height: 90px;
  width: calc(100% - 200px);
  margin-top: 30px;
}
.main-h4 {
  font-size: 20px;
  margin-bottom: 50px;
}
.main-h5 {
  font-size: 15px;
  margin-bottom: 50px;
}
.icon-box2 ul li{
  display: inline;
  float: left;
  margin-right: 10px;
}
.icon-check {
  height: 20px;
  width: 15px;
  float: right;
  margin-left: 5px;
  display: inline;
}
.main-box3 {
  height: 300px;
  position: absolute;
  margin-top: 300px;
}
.box3 {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.box3 img {
  margin-top: 10px;
}
/* colonna 1 */
.col1 {
  background-color: rgba(29, 180, 157, 0.1);
  height: 500px;
  width: 250px;
  float: left;
}
/* colonna 2  */
.col2 {
  background-color: rgba(29, 180, 157, 0.1);
  height: 500px;
  width: 250px;
  margin-left: 100px;
}
/* colonna 3 */
.col3 {
  background-color: rgba(29, 180, 157, 0.1);
  height: 500px;
  width: 250px;
  margin-left: 90px;
  float: right;
}
.hr {
  padding: 5%;
  margin: 8px;
}
/* colonna 1 tool */
.col1 h3, h4 {
  margin-bottom: 5px;
  margin-top: 20px;
}
.col1 p {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 13px;
  line-height: 18px;
}
.icon-col {
  height: 80px;
  width: 250px;
}
.col-check {
  height: 12px;
  width: 11px;
  margin-right: 5px;
}
.listacol li {
  float: left;
  margin-left: 20px;
}
.buttom-box3 {
  background-color: orange;
  height: 40px;
  width: 120px;
  margin-top: 5px;
  border-radius: 6px;
  margin-left: 65px;
}
.buttom-box3:hover {
  background-color: rgba(245, 172, 32, 0.6);
}
.buttom-box3 h4{
  font-size: 18px;
  text-align: center;
  padding: 7%;
}
/* colonna 2 tool*/
.col2 h3, h4 {
  margin-bottom: 5px;
  margin-top: 20px;
}
.col2 p {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 13px;
  line-height: 18px;
}
/* colonna 3 tool */
.col3 h3, h4 {
  margin-bottom: 5px;
  margin-top: 20px;
}
.col3 p {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 13px;
  line-height: 18px;
}
.conteiner-table {
  background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
  height: 450px;
}
.title1-table {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 30px;
  font-size: 30px;
}
.title2-table {
  text-align: center;
}
.tabella {
  margin-top: 20px;
  height: 100px;
  width: 100%;
}
.tabella tr  {
  text-align: center;
}
.tabella tr td h4{
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}
.tabella tr td p {
  font-size: 13px;
  color: #fff;
}
.section-1{
  background-color: white;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 70px;
}
.section-2 {
  width: 350px;
}
.section-1 h2 {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 35px;
}
.section-2 h3{
  font-size: 25px;
  margin-bottom: 10px;
}
.section-buttom {
  background-color: orange;
  border-radius: 6px;
  margin-top: 20px;
  height: 30px;
  width: 90px;
}
.section-buttom:hover {
  background-color: rgba(245, 172, 32, 0.6);
}
.buttom-section {
  color: #fff;
}
.section-2 h4 {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}
.section-2 h5 {
  margin-top: 20px;
}
.footer-box {
  background-color: rgb(51, 99, 130);
  height: 500px;
}
.colfooter-1 {
  height: 200px;
  width: 230px;
  display: inline-block;
}
.colfooter-1 h4 {
  font-family: sans-serif;
  color: #fff;
}
.colfooter-1 ul li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
}
.colfooter-1 ul li:first-child{
  margin-top: 20px;
}
.buttom-contact {
  background-color: orange;
  width: 100px;
  float: left;
  border-radius: 6px;
}
.buttom-contact:hover {
  background-color: rgba(245, 172, 32, 0.6);
}
.buttom-contact h4 {
  text-align: center;
  margin: 8px;
}
.icon-footer {
  float: right;
  height: 40px;
  margin-right: 80px;
  margin-top: 40px;
}
.icon-footer .fab {
  padding: 5px;
  font-size: 20px;
  color: #fff;
}
.list-lang li{
  display: inline;
  line-height: 200px;
  padding: 7px;
  color: #fff;
}
.list-lang {
  text-align: center;
  margin-left: 200px;
  height: 110px;
}
.legal-footer {
  float: right;
  margin-top: 40px;
}
.legal-footer p {
  display: inline;
  color: #fff;
  margin: 5px;
}
.footer-hub {
  float: left;
  margin: 5px;
  color: #fff;
}
